In [2]:
import pandas as pd

df_mountains = pd.read_csv('/home/oks/VSCode_Projects/Data_Science_Test_Task/Task_1_NER/data/mountain_dataset_with_markup.csv', converters={'marker': eval})

In [155]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath("/home/oks/VSCode_Projects/Data_Science_Test_Task/Task_1_NER/src"))
from data_preprocessing import load_and_convert_labels

In [158]:
# Load the local dataset from a CSV file
dataset_path = "/home/oks/VSCode_Projects/Data_Science_Test_Task/Task_1_NER/data/mountains_ner.csv"
dataset_df = pd.read_csv(dataset_path)

In [112]:
dataset_df.head(5)

,sentence,tokens,labels
0,Virender Sehwag and Harbhajan Singh were not named in the Indian squad due to recent poor performances while Irfan Pathan and Munaf Patel were not fully fit .,"[Virender, Sehwag, and, Harbhajan, Singh, were, not, named, inthe, Indian, squad, due, to, recent, poor, performances, whileIrfan, Pathan, and, Munaf, Patel, were, not, fully, fit, .]",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
1,"Mount Nangtud is the second highest mountain in Panay Island located in the Northeast of Barbaza with an elevation of 6,804 feet ( 2,074 meters ) above sea level .","[Mount, Nangtud, is, the, second, highest, mountain, in, PanayIsland, located, in, the, Northeast, of, Barbaza, with, anelevation, of, 6,804, feet, (, 2,074, meters, ), above, sealevel, .]",[1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
2,The European Team Championship bridge championship is held every two years .,"[The, European, Team, Championship, bridge, championship, isheld, every, two, years, .]",[0 0 0 0 0 0 0 0 0 0 0 0]
3,The Bulgarian army under the command of Nestoritsa was defeated by the Byzantines led by the governor of Thessalonica Theophylactus Botaniates and it was unable to divert the main Byzantine forces who were attacking the Bulgarian ramparts between the Belasitsa and Ograzhden mountains .,"[The, Bulgarian, army, under, the, command, of, Nestoritsa, wasdefeated, by, the, Byzantines, led, by, the, governor, ofThessalonica, Theophylactus, Botaniates, and, it, was, unableto, divert, the, main, Byzantine, forces, who, were, attackingthe, Bulgarian, ramparts, between, the, Belasitsa, andOgrazhden, mountains, .]",[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n 0 1 2 0 1 0 0]
4,"Through Mountain Madness , Fischer guided the 1993 Climb for the Cure on Denali ( 20,320 feet ) in Alaska which was organized by eight students at Princeton University .","[Through, Mountain, Madness, ,, Fischer, guided, the, 1993Climb, for, the, Cure, on, Denali, (, 20,320, feet, ), inAlaska, which, was, organized, by, eight, students, atPrinceton, University, .]",[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [6]:
dataset_df.shape

(3827, 3)

In [7]:
dataset_df.isnull().sum()

sentence    0
tokens      0
labels      0
dtype: int64

In [66]:
pd.set_option('display.max_colwidth', None)

In [68]:
print(dataset_df.sample(1))

                                                                                            sentence  \
2881  The highest point in Brazil is the Pico da Neblina at , and the lowest is the Atlantic Ocean .

                                                                                                                                          tokens  \
2881  ['The' 'highest' 'point' 'in' 'Brazil' 'is' 'the' 'Pico' 'da' 'Neblina'\n 'at' ',' 'and' 'the' 'lowest' 'is' 'the' 'Atlantic' 'Ocean' '.']

                                         labels
2881  [0 0 0 0 0 0 0 1 2 2 0 0 0 0 0 0 0 0 0 0]

In [35]:
processed_df = load_and_convert_labels(dataset_path)

NameError: name 'load_and_convert_labels' is not defined

In [31]:
processed_df.head()

,sentence,tokens,labels
0,Virender Sehwag and Harbhajan Singh were not named in the Indian squad due to recent poor performances while Irfan Pathan and Munaf Patel were not fully fit .,['Virender' 'Sehwag' 'and' 'Harbhajan' 'Singh' 'were' 'not' 'named' 'in'\n 'the' 'Indian' 'squad' 'due' 'to' 'recent' 'poor' 'performances' 'while'\n 'Irfan' 'Pathan' 'and' 'Munaf' 'Patel' 'were' 'not' 'fully' 'fit' '.'],"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
1,"Mount Nangtud is the second highest mountain in Panay Island located in the Northeast of Barbaza with an elevation of 6,804 feet ( 2,074 meters ) above sea level .","['Mount' 'Nangtud' 'is' 'the' 'second' 'highest' 'mountain' 'in' 'Panay'\n 'Island' 'located' 'in' 'the' 'Northeast' 'of' 'Barbaza' 'with' 'an'\n 'elevation' 'of' '6,804' 'feet' '(' '2,074' 'meters' ')' 'above' 'sea'\n 'level' '.']","[B-MOUNTAIN, I-MOUNTAIN, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
2,The European Team Championship bridge championship is held every two years .,['The' 'European' 'Team' 'Championship' 'bridge' 'championship' 'is'\n 'held' 'every' 'two' 'years' '.'],"[O, O, O, O, O, O, O, O, O, O, O, O]"
3,The Bulgarian army under the command of Nestoritsa was defeated by the Byzantines led by the governor of Thessalonica Theophylactus Botaniates and it was unable to divert the main Byzantine forces who were attacking the Bulgarian ramparts between the Belasitsa and Ograzhden mountains .,['The' 'Bulgarian' 'army' 'under' 'the' 'command' 'of' 'Nestoritsa' 'was'\n 'defeated' 'by' 'the' 'Byzantines' 'led' 'by' 'the' 'governor' 'of'\n 'Thessalonica' 'Theophylactus' 'Botaniates' 'and' 'it' 'was' 'unable'\n 'to' 'divert' 'the' 'main' 'Byzantine' 'forces' 'who' 'were' 'attacking'\n 'the' 'Bulgarian' 'ramparts' 'between' 'the' 'Belasitsa' 'and'\n 'Ograzhden' 'mountains' '.'],"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-MOUNTAIN, I-MOUNTAIN, O, B-MOUNTAIN, O, O]"
4,"Through Mountain Madness , Fischer guided the 1993 Climb for the Cure on Denali ( 20,320 feet ) in Alaska which was organized by eight students at Princeton University .","['Through' 'Mountain' 'Madness' ',' 'Fischer' 'guided' 'the' '1993'\n 'Climb' 'for' 'the' 'Cure' 'on' 'Denali' '(' '20,320' 'feet' ')' 'in'\n 'Alaska' 'which' 'was' 'organized' 'by' 'eight' 'students' 'at'\n 'Princeton' 'University' '.']","[O, O, O, O, O, O, O, O, O, O, O, B-MOUNTAIN, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"

In [42]:
import sys
sys.path.append('/home/oks/VSCode_Projects/Data_Science_Test_Task/Task_1_NER/src')

# Імпортуємо функцію
from tokenize_and_align_labels import tokenize_and_align_labels
tokenized_inputs = tokenize_and_align_labels(example, label_mapping)